{{> header loggedInUser}}
<body>
<div class="container-fluid d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto" id="main-container">
        {{#each dateGroups}}
            <h4 data-test="[date-{{date}}]">{{presentationDate}}</h4>
            {{#each tracks}}
                <div id={{uuid}} {{#eq uuid highlighted.uuid}}class="highlighted"{{/eq}} data-test="[track-{{uuid}}]" data-track>
                    <a href="/tracks/{{uuid}}" class="{{#eq titleType.key "title"}}title-link{{else}}working-title-link{{/eq}}" data-test="[metadata-link]">{{title}}{{#if takeNumber}} (take {{takeNumber}}) {{/if}}</a> | {{#if duration}}{{duration}} | {{/if}}{{format}} | <a href="?id={{uuid}}#{{uuid}}" data-test="[play-audio-link]">►</a> | <a href="/play/{{uuid}}" download="{{filename}}.{{format}}" data-test="[download-link]">↓</a>
                    <br>
                </div>
            {{/each}}
            <br>
        {{/each}}
    </div>
</div>

</body>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
{{> footer nowPlaying}}
