{{#if title}}
    <footer class="footer fixed-bottom top">
        <div id="audio-player-metadata" data-test="[audio-player-metadata]">
            {{title}} | {{duration}} | {{format}} ({{bitRate}} kbps)
        </div>
        <div id="audio-player">
            <audio controls autoplay preload="metadata" data-test="[play_file-{{uuid}}]">
                <source src="/play/{{uuid}}" type="audio/{{format}}">
            </audio>
        </div>
    </footer>
{{/if}}
</html>
