{{> header loggedInUser}}
<body>
<div class="container-fluid d-flex h-100">
    <div class="justify-content-center align-self-center mx-auto" id="main-container">
        <h4 class="container-fluid" data-test="heading">Preview metadata</h4>
        <form class="form-group" action="upload" method="POST" data-test="preview-metadata-form">
            <label for="artist">Artist</label><span class="form-required">*</span>
            <input readonly class="form-control full-width" id="artist" name="artist" value="{{trackMetadata.artist}}" data-test="artist" required/>

            <label for="title">Title</label>
            <input class="form-control full-width" id="title" name="title" value="{{trackMetadata.title}}" data-test="title"/>

            <label>Working title</label>
            <input class="form-control full-width" id="working-title" name="working_title" value="{{trackMetadata.workingTitle}}" data-test="working-title"/>

            <input id="duration-raw" type="hidden" name="duration_raw" value="{{trackMetadata.durationRaw}}" data-test="duration-raw" />
            <label for="duration">Duration</label>

            <input readonly class="form-control full-width" id="duration" name="duration" value="{{trackMetadata.duration}}" data-test="duration" />
            <label for="format">Format</label>

            <input readonly class="form-control full-width" id="format" name="format" value="{{trackMetadata.format}}" data-test="format"/>
            <input id="bitrate-raw" type="hidden" name="bitrate_raw" value="{{trackMetadata.bitRateRaw}}" data-test="bitrate-raw" />

            <label for="bitrate">Bitrate</label>
            <input readonly class="form-control full-width" id="bitrate" name="bitrate" value="{{trackMetadata.bitRate}}" data-test="bitrate" />

            <label for="recorded">Recorded year</label><span class="form-required">*</span>
            <input class="form-control full-width" id="recorded_year" name="recorded_year" data-test="recorded_year" {{#if trackMetadata.recordedYear}}value="{{trackMetadata.recordedYear}}"{{/if}} required/>

            <label for="recorded">Recorded month</label>
            <select class="form-control full-width" id="recorded_month" name="recorded_month" data-test="recorded_month">
                <option></option>
                {{#each months}}
                <option value="{{this.number}}"{{#eq trackMetadata.recordedMonth this.number}} selected{{/eq}}>{{this.name}}</option>
                {{/each}}
            </select>

            <label for="recorded">Recorded day</label>
            <select class="form-control full-width" id="recorded_day" name="recorded_day" data-test="recorded_day">
                <option></option>
                {{#each days}}
                    <option value="{{this}}"{{#eq trackMetadata.recordedDay this}} selected{{/eq}}>{{this}}</option>
                {{/each}}
            </select>

            <label for="recorded">Recorded hour</label>
            <select class="form-control full-width" id="recorded_hour" name="recorded_hour" data-test="recorded_hour">
                <option></option>
                {{#each hours}}
                    <option value="{{this}}"{{#eq trackMetadata.recordedHour this}} selected{{/eq}}>{{this}}</option>
                {{/each}}
            </select>

            <label for="recorded">Recorded minute</label>
            <select class="form-control full-width" id="recorded_minute" name="recorded_minute" data-test="recorded_minute">
                <option></option>
                {{#each minutes}}
                    <option value="{{this}}"{{#eq trackMetadata.recorded_minute this}} selected{{/eq}}>{{this}}</option>
                {{/each}}
            </select>

            <label for="recorded">Recorded second</label>
            <select class="form-control full-width" id="recorded_second" name="recorded_second" data-test="recorded_second">
                <option></option>
                {{#each minutes}}
                    <option value="{{this}}"{{#eq trackMetadata.recordedSecond this}} selected{{/eq}}>{{this}}</option>
                {{/each}}
            </select>

            <input readonly class="form-control full-width" id="filename" type="hidden" name="filename" value="{{trackMetadata.filename}}" data-test="filename"/>
            <input readonly class="form-control full-width" id="hash" type="hidden" name="hash" value="{{trackMetadata.hash}}" data-test="hash"/>
            <br>
            <button class="form-control full-width btn btn-dark" formenctype="application/x-www-form-urlencoded" formmethod="post" name="upload-track" data-test="upload-track">Upload</button>
        </form>
    </div>
</div>

</body>
{{> footer playerMetadata}}
